*.plist
Podfile.lock

### Xcode ###
## User settings
xcuserdata/

## Xcode 8 and earlier
*.xcscmblueprint
*.xccheckout

### Xcode Patch ###
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
/*.gcno
**/xcshareddata/WorkspaceSettings.xcsettings

### CocoaPods ###
Pods/
jjbaksa/Info.plist
jjbaksa/Info.plist
Pods/naveridlogin-sdk-ios/NaverThirdPartyLogin.xcframework/ios-arm64_i386_x86_64-simulator/NaverThirdPartyLogin.framework/Headers/NaverThirdPartyConstantsForApp.h
