<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GOOGLE_CLIENT_ID</key>
	<string>766529220279-nuv3p26nq2uc3kl3gtkqlt3mf4ssl6j4.apps.googleusercontent.com</string>
	<key>GOOGLE_URL_SCHEME</key>
	<string>com.googleusercontent.apps.766529220279-nuv3p26nq2uc3kl3gtkqlt3mf4ssl6j4</string>
	<key>NAVER_SERVICE_APP_URL_SCHEME</key>
	<string>jjbaksanaverios</string>
	<key>NAVER_CONSUMER_KEY</key>
	<string>DnAxhZrRgwGK55AcTkpE</string>
	<key>NAVER_CONSUMER_SECRET</key>
	<string>X7j8AvVNxQ</string>
	<key>NAVER_SERVICE_APP_NAME</key>
	<string>쩝쩝박사</string>
	<key>KAKAO_NATIVE_APP_KEY</key>
	<string>14ead7eb667ae2afb2e2ed8c3e38d288</string>
</dict>
</plist>
